@(projects : Seq[(String,String)] = Nil)
@import tags.coffee
@main("Github Looker") {

  <div id="header">
  
      <input type="text" name="query" id="query"/>
      <!--<input type="submit" class="btn success" value="Search" /> -->
      <button id="search" class="btn success" >Search</button>
   </div>

  @coffee.inline() {
    jQuery ->
      $('#search').click => window.location.pathname = "projects/"+$("#query").val()
      $('#query').bind 'keypress', (event) =>     
        if event.which is 13
          window.location.pathname = "projects/"+$("#query").val()
  }
    
   <div id="main">
     <div id="repos">
        <h3> Select one or more projects based on your search</h3>
        <select data-placeholder="Choose a project" class="chzn-select" multiple style="width:350px;">
                <option value=""></option> 
                @for(p <- projects) {
                    
                    <option @(if(p==projects.head) "selected") value="@p._1*@p._2">@p._1 - @p._2</option>
                    
                } 
       </select>

      @coffee.inline() {
        
        
        jQuery -> 
          
          

          cloud_list = []
          
          findCollabs = (author,repo,htmlid) ->
            $.ajax(
              type: "GET",
              url: "/application/findCollabs",
              data: {author:author, repo:repo},
              dataType: "xml",
              success: (xml) ->
                $(xml).find('contributor').each ->
                  login = $(this).find('login').text()
                  $("#"+htmlid).append("<li>"+login+"</li>")
                
            )
            $.ajax(
              type: "GET",
              url: "/application/computeContributions",
              data: {author:author, repo:repo},
              dataType: "xml",
              success: (xml) ->
                $(xml).find('commiter').each ->
                  login = $(this).find('login').text()
                  contributions = $(this).find('activity').text()
                  cloud_list.push {text:login, weight:contributions, url:"https://github.com/"+login}
                $("#contributors").empty()
                $("#contributors").jQCloud(cloud_list)
                
            )

          prepareSlot = (i,item) ->
            values = item.split("*")
            htmlid = values[1].replace('.','')
            $('#stats').append $("<div>"+values.join(" - ")+"<ul style='list-style-type: none;' id="+htmlid+"></ul></div>")
            findCollabs(values[0],values[1],htmlid)
          
          computeRepos = ->
            $.each(
              $('select').val()
              prepareSlot
            )
          
          do computeRepos
          
          $("select").change => 
            $("#stats").empty()
            $("#contributors").empty()
            cloud_list = []
            if $('select').val()
              do computeRepos
        
          
      }
    
     </div>
     <div id="stats">
     </div>
     <div id="contributors">
     </div>
     <div id="container">
     </div>
   </div>
}